* {
    direction: rtl;
    font-family: "IRANSansWeb";
}

a {
    text-decoration: none;
    color: black;

}

.navbar {
    margin-bottom: 0;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

body {
    /*background-color: #222;*/
}

a:visited {

}

a:hover {
    text-decoration: none !important;

}

a:active {
    text-decoration: none !important;
}

@font-face {
    font-family: "IRANSansWeb";
    src: url('/../fonts/iransansweb.ttf') /* TTF file for CSS3 browsers */
}

.topinfo {
    height: 25px;
    background-color: #2196F3;
    margin-top: 0;
    text-align: center;
    padding: 3px;
    font-size: 15px;
}

.fa-telegram {
    padding-left: 5px;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 99;
}

.affix + #main {
    padding-top: 62px;
}

#menu {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #42a5f5;
    z-index: 99;
    font-size: 19px;

}

#meni ul {
    margin: 0;
    margin-right: 70px !important;
    padding-top: 0;
}

.conectussub {
    width: auto !important;
    position: absolute;
    display: none;
    margin: 0;
}

.conectussub li {
    float: none !important;
    border-style: solid;
    background-color: #42a5f5;
    border-color: #000000;
    border-width: 1px !important;
    padding-right: 0 !important;
    line-height: 15px;
    margin: 0;
    width: 130px !important;
}

.conectussub li a {

}

#menu li {
    float: right;
    width: 160px;
    margin: 0 10px 0 0;
    height: 40px;
    padding: 7px 10px 10px 10px;
    /*border-left-style: solid;*/
    text-align: center !important;
    display: block;
}

#menu ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0 0 0 0;
}

.fa-home:hover {

    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0% {
        -webkit-transform: rotate(20deg);
    }
    20% {
        -webkit-transform: rotate(-20deg);
    }
    40% {
        -webkit-transform: rotate(20deg);
    }
    60% {
        -webkit-transform: rotate(-20deg);
    }
    80% {
        -webkit-transform: rotate(20deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

/* Standard syntax */
@keyframes example {
    0% {
        transform: rotate(20deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    40% {
        transform: rotate(20deg);
    }
    60% {
        transform: rotate(-20deg);
    }
    80% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.mainpagelink {
    margin-top: 0 !important;
    padding-top: 10px !important;
}

#main {
    /*min-height: 400px ;*/

}

.mainpagelink i {
    padding: 7px 0 0 0 !important;
}

/* This part is for slide show*  ***********************************************************************************************/
.slider {

    height: 300px !important;
    width: 100%;
    margin-top: 50px;
}

.slider img {

    height: 300px !important;
    width: 100%;
}

/*END  This part is for slide show*  ***********************************************************************************************/
.hotenews {
    text-align: center;
    margin-top: 60px;
}

.hotNews div {

    display: inline-block;
}

/* welcome page csses **************************************************************************************************************************/
.isologo {
    width: 30px !important;
    height: 30px !important;
    padding: 0 !important;
    margin-top: -5px;
    margin-right: -15px;
}

.navbar-brand {
    float: right !important;
}

.navbar-toggle {
    float: left !important;
}

.openedmenu {
    padding-right: 0;
    font-size: 20px;
}

.openedmenu li a {
    padding-top: 23px;
}

@media (min-width: 768px) {
    .navbar-nav > li {
        float: right !important;
    }

    .navbar-brand {
        margin-left: 15px !important;
    }
}

.dropdown-menu {
    text-align: right;
}

/*slider*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 400px;
    margin: auto;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    padding-top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
min-height: 265px;
}

.card:hover {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.cardimg {
    /* Add shadows to create the "card" effect */

    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    padding-top: 2px;
    padding-bottom: 7px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.dicul {
    padding-bottom: 15px;
}

.titlecards {
    padding-right: 7px;
    text-align: center;
    width: 100%;
    background-color: #2196F3;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0 !important;
}

.card section {
    padding-left: 0;
    padding-top: 0;
}

/* On mouse-over, add a deeper shadow */

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

/************************************BLUR*****************************/
/*BLUR*/
.blur img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.blur img:hover {
    -webkit-filter: blur(1px);
}

/************************************BLUR END*****************************/

/************************************product END*****************************/

/*****************************************************************Footer******************************************/
footer {
    background-color: #43474d;
    color: whitesmoke;
    font-size: 20px;
    padding-top: 15px;

}

.footerTitle {
    border-bottom: 3px solid #f44336;
    padding-bottom: 10px;
    font-size: 22px;
    color: #42a5f5;
}

.footerCol {
    padding-right: 50px;
}

footer input[type=email] {
    display: block;
    color: #222;
    margin-bottom: 5px;;
}

.brand {
    margin-left: 0;
    margin-right: 0
}

.copyrightBottom {
    text-align: center;
    background-color: #1f2123;
    padding-top: 10px;
    font-size: 13px;
}

div[class^='col-'], div[class*=' col-'] {
    float: right;
}

.notFound {
    background-color: #1f2123;
    color: forestgreen;
    height: 520px;
    font-size: 70px;
    text-align: center;
}

.aboutUsImg {
    width: 100%;
    height: 600px;
    margin: 50px;
}

.aboutUsCoMain {
    margin-top: 150px !important;
    margin-bottom: 150px !important;
    /*height: 500px;*/
    box-shadow: 2px 2px 10px #607d8b;
    background-color: #EEEEEE;
    padding: 0 !important;

}

pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.aboutUsCoMain pre {
    margin: 0 !important;
    font-size: 24px;
    font-family: "IRANSansWeb" !important;
}

.showInfoAboutUsCo {
    background-color: white !important;
    margin-top: 50px;
    height: 500px !important;

}

.showInfoAboutUsCo div div div {
    margin-top: 10px;
}

.galleryCollection {
    margin-top: 10%;
    margin-bottom: 10%;
}

.galleryShowIconCollection {
    width: 100%;
    height: 120px;
}

p {

    word-wrap: break-word; /* IE */
}

.gallery {
    display: inline-block;
    margin-top: 20px;
}

.modal-content {
    background-color: #222;
    margin: auto;
}

.fa-input {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.modal-title {
    color: #03a9f4;
}

.imageViewer img {
    height: 300px;
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.galleryMainContainer {

}

.sideMenu {
    height: 300px;
    overflow: auto;
    padding-left: 5px;
    float: none;
    /*width:200px;*/
    text-align: center;

}

.backgroundContainer {
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.img-responsive {
    width: 100% !important;
}

.modal-footer {
    color: #2196f3;
    border: none !important;
    padding-right: 4px !important;

}

.modal-body {
    padding: 2px !important;
    height: 330px;

}

.closeModalBtn {
    padding: 1px 6px;
}

.modal-header {
    border-bottom: none !important;
}

.modal-dialog {
    margin-top: 100px;
}

/*==========  Non-Mobile First Method  ==========*/

/* Extra Small Devices, Phones */
@media only screen and (max-width: 768px) {
    .imageViewer img {
        height: 285px;
    }

    .sideMenu {
        height: 285px;
    }

    .modal-footer {
        margin-right: 4px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .imageViewer img {
        height: 211px;
    }

    .sideMenu {
        height: 211px;
    }

    .modal-footer {
        margin-right: 4px;

    }

    .contactFormClass {
        padding-left: 0px;
    }
}

.aboutUsPersonnelAvatar {
    height: 50px;

    overflow: hidden;
}

.aboutUsPersonnelMain {
    padding-top: 15px;
    padding-bottom: 15px;
}

.aboutUsPersonnelAvatar li {
    display: inline;
}

.personnelIconCollection {
    width: 70%;
    height: 100px;
    /*opacity: 0.7;*/
    /*transition-duration: 1s;*/
    /*margin-bottom: 15px;*/
    /*float: right;*/

    display: inline;

}

.activeOpacity {
    opacity: 1 !important;
    transition-duration: 1s;
    filter: drop-shadow(0px 7px 5px #616161);
    /*box-shadow: 10px 10px 10px black;*/

}

.form-control {
    margin-bottom: 10px;
}

.contactFormClass {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 15px;
}

.errors {
    margin-top: 15px;
}

.form-required {
    color: #E53935;
}

.contactUsSendBody {
    background-color: #64B5F6;
}

/*test dfghjkl;*/

[class*="loader-"] {
    display: inline-block;
    width: 5em;
    height: 5em;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
}

.loader-16 {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
}

.submitFormLoading {
    display: none;

}

.loader-16:after, .loader-16:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    animation: 1s spin linear infinite;
}

.loader-16:before {
    transform: rotateX(70deg);
}

.loader-16:after {
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

.chooseFileIcon {
    display: none;
    color: #8BC34A;
    font-size: 20px
}

.productItems {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    margin: 15px;
    padding: 20px;
}

.productList {

}

.imgTemp {
    width: 260px;
    height: 160px;
    overflow: hidden;
}

.productItemsImg {

    position: relative;
    top: -65px;
    right: -90px;
}

.productInfoImage {
    width: 100%;
    height: 250px;
}

th {
    text-align: center;
}

.navbar-header{
    float: right;
}

/*test ************
*****************************/
.multiSlider img{
    width: 20vh;
    height: 20vh;
   
}

.multiSlider{
    display: table-cell;
}
.multiSliderParent{
    overflow-x: scroll;
    width:100%;

}
.showSliderActivePic{
padding: 20px;
}

.classShowProductImage{
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.darkhastNamayandegi{
    font-family: IRANSansWeb;
    font-size: 16px;
    direction: rtl;
    padding: 15px;

}